@import 'utilities.css';

:root {
    --primary: #3DCFD3;
    --dark: #161616;
    --pure: #FFFFFF;
    --ternary: #898989;
    --light: #F2F2F2;
    --grey: #3f3f3ece;
    --secondary: #070606;

}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    /* height: 6000px; */
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

header {
    background: #eeeeee;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
    /* height: 800px; */
}

.list-item {
    color: #040505;
    border-radius: 0rem;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
}

.list-item:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.list-title {
    font-family: 'Oswald', sans-serif;
    color: #040505;
}

/* TITLE HOME */
:-webkit-any(article, aside, nav, section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

.date-text {
    font-size: 0.8rem;
    font-weight: 200;
}

header nav .left a {
    color: var(--dark);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
}

header nav .left a:hover {
    color: var(--primary);
}

header nav .right a {
    text-transform: uppercase;
}

header nav {
    padding: 2rem 0;
}

header nav .branding {
    margin-right: 3rem;
}

.hero {
    padding: 3rem 0;
}

.hero .left img {
    width: 400px;
}

.hero .right {
    color: var(--pure);
    vertical-align: middle;
}

.hero .right h6 {
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;

}

.hero .right h1 {
    font-size: 4rem;
    font-weight: 450;
    line-height: 1.2;
    margin-bottom: 2rem;

}

.hero .right h1 span {
    color: var(--primary);

}

.hero .right p {
    line-height: 1.9;
    margin-bottom: 2rem;
}

.hero .right {
    margin-top: -7rem;

}

/* tinggi halaman */
section {
    padding: 3rem 0;
}

/* about */
section.about .about-me-img {
    height: 450px;
}

section.about h1 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}

section.about h1 span {
    color: var(--primary);
}

section.about h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

section.about p {
    color: var(--ternary);
    line-height: 1.9;
    font-weight: 200;
    margin-bottom: 2rem;
}

section.about .social {
    display: flex;
}

section.about .social a {
    background: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 0.6rem;
    transition: all .3s;
}

section.about .social a:hover {
    background: var(--primary);
}

section.about .social a img {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

/* jadwal ibadah */

/* .img-service {
    width: 100px;
    height: 100px;
} */
.img-service {
    width: 42px;
    height: 42px;
}

.section-heading {
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}

.section-heading span {
    color: var(--primary);
}

.section-heading+p {
    color: var(--ternary);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;

}

.list-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.list-heading span {
    color: var(--primary);
}

.thumbnail-renungan {
    width: 150px;
    height: 150px;
    margin-right: 15px;
}

.thumbnail-renungan img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.renungan-image {
    margin-left: auto;
    margin-right: auto;
    width: 256px;
    height: 256px;
}

.renungan-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

section.service {
    background-color: #ffffff;
}

section.service .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 6rem;
}

section.service .card-wrapper .card {
    background: var(--pure);
    position: relative;
    text-align: center;
    transition: all .3s ease;
}

section.service .card-wrapper .card img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

section.service .card-wrapper .card h2 {
    font-weight: 400;
    font-size: 1.2rem;
}

section.service .card-wrapper .card p {
    font-family: 'Poppins', sans-serif;
    color: var(--ternary);
    line-height: 1.5;
}

section.service .card-wrapper .card:hover {
    background: rgb(61, 207, 211, 150);
}

section.service .card-wrapper .card:hover h2,
section.service .card-wrapper .card:hover p {
    color: var(--pure);
}

/* video */

section.work {
    background-color: #eeeeee;
}

/* kontak */

section.contact {
    background-color: #ffffff;
}

section.contact .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}

section.contact .card-wrapper .card {
    text-align: center;
}

section.contact .card-wrapper .card img {
    margin-bottom: 3rem;
}

section.contact .card-wrapper .card h1 {
    font-weight: 400;
    margin-bottom: 1rem;
}

section.contact .card-wrapper .card h6 {
    font-size: 1rem;
    color: var(--ternary);
    font-weight: 400;
    margin-bottom: 4rem;
}

section.contact .input-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
}

section.contact .input-wrap-2 {
    display: flex;
    flex-direction: column;
}

section.contact .input-wrap-2 input {
    margin-bottom: 2rem;
}

section.contact input {
    padding: 0.5rem;
    border: 1px solid var(--light);
    font-size: 0.9rem;
}

section.contact .input-wrap-2 textarea {
    padding: 0.5rem;
    border: 1px solid var(--light);
    font-size: 0.9rem;
}

section.contact .input-wrap-2 textarea:focus,
section.contact input:focus {
    outline: none;
}

section.contact .btn-wrapper {
    text-align: center;

}

.btn-search {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
}

.search-label {
    font-family: 'Poppins', sans-serif;
    color: #121212;
    font-style: italic;
    font-weight: 400;
}

.footer-home {
    background: var(--dark);
    text-align: center;
    padding: 3rem 0;
}

footer .footer-logo {
    margin-bottom: 3rem;
    /* width: 200px; */
}

footer .footer-socials a {
    margin-right: 0rem;
}

footer .footer-socials {
    margin-bottom: 0rem;
    margin-right: 0rem;
}

footer .copyright {
    color: var(--ternary);
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem
}

.alert-heading {
    color: inherit
}

.alert-link {
    font-weight: 700
}

.alert-dismissible {
    padding-right: 4rem
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .75rem 1.25rem;
    color: inherit
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff
}

.alert-primary hr {
    border-top-color: #9fcdff
}

.alert-primary .alert-link {
    color: #002752
}

.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db
}

.alert-secondary hr {
    border-top-color: #c8cbcf
}

.alert-secondary .alert-link {
    color: #202326
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb
}

.alert-success hr {
    border-top-color: #b1dfbb
}

.alert-success .alert-link {
    color: #0b2e13
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb
}

.alert-info hr {
    border-top-color: #abdde5
}

.alert-info .alert-link {
    color: #062c33
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba
}

.alert-warning hr {
    border-top-color: #ffe8a1
}

.alert-warning .alert-link {
    color: #533f03
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb
}

.alert-danger hr {
    border-top-color: #f1b0b7
}

.alert-danger .alert-link {
    color: #491217
}

.alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe
}

.alert-light hr {
    border-top-color: #ececf6
}

.alert-light .alert-link {
    color: #686868
}

.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca
}

.alert-dark hr {
    border-top-color: #b9bbbe
}

.alert-dark .alert-link {
    color: #040505
}


/* mobile version */
/* 
@media (max-width:1024px) {
    header #main-nav {
        display: none;
    }
} */

.site-main-wrapper {
    position: relative;
}

.hamberger {
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 11;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.hamberger img {
    width: 30px;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: var(--light);
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-top: 5rem;
}

.times {
    position: fixed;
    top: 30px;
    right: 30px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.times img {
    width: 30px;
}

.mobile-nav ul {
    list-style-type: none;
}

.mobile-nav ul li a {
    color: var(--secondary);
    text-decoration: none;
    font-size: 2rem;
}

.service-11 {
    font-family: 'Poppins', sans-serif;
    color: #8d97ad;
    font-weight: 500;
}

.service-11 h1,
.service-11 h2,
.service-11 h3,
.service-11 h4,
.service-11 h5,
.service-11 h6 {
    color: #3e4555;
}

.service-11 .font-weight-medium {
    font-weight: 500;
}

.service-11 .bg-light {
    background-color: #f4f8fa !important;
}

.service-11 .subtitle {
    color: #8d97ad;
    line-height: 24px;
}

.service-11 .card.card-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    text-align: center;
}

.service-11 .card:hover {
    background-color: #b2eef0;
    /* color: var(--primary); */
}

.service-11 .wrap-service11-box {
    margin-top: 60px;
}

.service-11 .wrap-service11-box .icon-space {
    margin: -70px 0 20px;
}

.icon-space {
    text-align: center;
}

.icon-space :hover {
    text-align: center;
}

.service-11 .wrap-service11-box .icon-space .icon-round {
    font-size: 45px;
    color: #ffffff;
}

.service-11 .bg-success-gradiant {
    background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
}

.service-11 .icon-round {
    width: 80px;
    line-height: 80px;
}

.service-11 .btn-success-gradiant {
    background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
}

.service-11 .btn-success-gradiant:hover {
    background: #1dc8cc;
    background: -webkit-linear-gradient(legacy-direction(to right), #1dc8cc 0%, #2cdd9b 100%);
    background: -webkit-gradient(linear, left top, right top, from(#1dc8cc), to(#2cdd9b));
    background: -webkit-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
    background: -o-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
    background: linear-gradient(to right, #1dc8cc 0%, #2cdd9b 100%);
}

.service-11 .btn-md {
    padding: 15px 45px;
    font-size: 16px;
}

/* HOME PAGE VIDEO */

.home-video {
    /* width: calc(96% / 2);
    height: calc(96% / 2); */
    width: 320px;
    height: 180px;
}

/* FOOTER SOCIAL */
/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 5px;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

/* youtube */
.fa-youtube {
    background: #e43737;
    color: white;
    border-radius: 5px;
}

.filler {
    height: 512px;
}


@media (min-height: 768px) {
    .filler {
        height: 700px;
    }
}

@media (max-width: 768px) {
    header {
        background: rgba(22, 22, 22, 255);
        clip-path: none;
    }
}

@media (max-width: 512px) {
    .thumbnail-renungan {
        width: 90px;
        height: 90px;
        margin-right: 10px;
    }
}

@media (min-width: 0px) {
    body:not(.sidebar-mini-md) .main-footer {
        margin-left: 0px;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
    }
}


.second-footer {
    display: block;
    border-top: 1px solid #b3b4b6;
    text-align: center;
    position: fixed;
    bottom: 0;
    background: #ffffff;
    padding: 10px;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
